<%= provide(:title, 'Admin Login')%>
  
<%= form_for @admin_session, :url => admin_session_path do |f| %>
  <p>  
    <%= f.label :login %><br />  
    <%= f.text_field :login %>  
  </p>  
  
  <p>  
    <%= f.label :password %><br />  
    <%= f.password_field :password %>  
  </p>  
  
  <%= f.submit "Login" %>  
<% end %>  

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
