<%= provide(:title, 'Welcome')%>
<div class="homeSlideshow">
	<ul class="slide">
		<li class="slideImage activeSlide" id="slide-1">
			<div class="image" id="ctpImage">
				
			</div>
			<div class="slideLabel" id="ctpLabel">
				<div class="slideLabelText">HIT delivers the highest quality CTP and optical system products and services fit for any task and budget.</div>
				<%= link_to product_path(:id => 2) do %><div class="slideLabelBtn">Learn More</div> <% end %>
			</div> <!-- End of slideLabel-->
		</li>
		
		<li class="slideImage" id="slide-2">
			<div class="image" id="solarImage">
				<%= image_tag 'solarLights.png' %>
				<div class="slideLabel" id="solarLabel">
					<div class="slideLabelText">Facilitate a sustainable future with HIT's original public infrastructure lighting solutions.</div>
					<%= link_to product_path(:id => 1) do %><div class="slideLabelBtn">Learn More</div> <% end %>
				</div>
			</div>
			
		</li>
		
		<li class="slideImage" id="slide-3">
			<div class="image" id="opticsLab">
				<%= image_tag'opticsLab.png'%>
				<div class="slideLabel" id="opticsLabel">
					<div class="slideLabelText">Companies from all over the world have chosen to collaborate with HIT's state of the art laboratory and team of experts.</div>
					<%= link_to about_path(:anchor => "aboutClientsText") do %><div class="slideLabelBtn">Learn More</div> <% end %>
				</div>
			</div>
		</li>
		
		<li class="slideImage" id="slide-4">
			<div class="image" id="opticHead">
				<%= image_tag'opticHead.png'%>
				<div class="slideLabel" id="contactLabel">
					<div class="slideLabelText">Contact HIT now and receive world-class service and solutions for problems of all complexity.</div>
					<%= link_to contacts_path do %><div class="slideLabelBtn">Learn More</div> <% end %>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="homeInfoBar">
	<div class="homeInfoBox activeInfoBox" id="ctpInfoBox infoBox-1">
		<a href="">
		<div class="homeInfoBoxArrow">-</div>
		<div class="homeInfoBoxText">Delivering CTP and optical system expertise.</div>
		</a>
	</div>
	<div class="homeInfoBox" id="solarInfoBox infoBox-2">
		<a href="">
		<div class="homeInfoBoxArrow">-</div>
		<div class="homeInfoBoxText">Supporting a sustainable future.</div>
		</a>
	</div>
	<div class="homeInfoBox" id="partnersInfoBox infoBox-3">
		<a href="">
		<div class="homeInfoBoxArrow">-</div>
		<div class="homeInfoBoxText">Engaging with leaders across markets and industries.</div>
		</a>
	</div>
	<div class="homeInfoBox" id="contactInfoBox infoBox-4">
		<a href="">
		<div class="homeInfoBoxArrow">-</div>
		<div class="homeInfoBoxText">Adapting our services and products to our clients’ diverse needs. </div>
		</a>
	</div>
</div>
