<%= render 'productLayout' %>


<h3>
  <%= @product.title %>
</h3>

<p>
  <%= markdown(@product.description) %>
</p>

<div class="productImgs">
	<%- @product.images.each do |img| %>
		<%#=image_tag "productImages/"+img.imageURL, :class => "productImages" %>
		<h4><%= img.title %></h4>
  	  	<%= link_to image_tag("productImages/"+img.imageURL, :class => "productImages" ), "../assets/productImages/"+img.imageURL %> </br >
  	<% end %>
</div>
	
</div> <!-- end #productContent -->
</div> <!-- end #productContainer -->