<header id="headerDiv">
<nav>
	<!-- <a href="../home/index.html">
		<div id="logo">	
		</div>
	</a> -->
		<%= link_to "", root_path, id: "logo" %>
	<ul id="topNav">
		<li class="navItem" id="home_btn">
			<%= link_to "HOME", home_index_path%>	
		</li>
		<li class="navItem" id="about_btn">
			<%= link_to "ABOUT", about_path %>
			<div class="navArrow">
				<%= image_tag "navArrow.png" %>
			</div>
			<ul class="sub">
				<li><%= link_to "Our Company", about_path %></li>
				<li><%= link_to "Partnerships", about_path(:anchor => "aboutClientsText") %></li>
				<li><%= link_to "Awards", about_path(:anchor => "aboutAwardsText")%></li>
			</ul>
		</li>
		<li class="navItem" id="products_btn">
			<%= link_to "PRODUCTS & SERVICES", products_path %>
			<div class="navArrow">
				<%= image_tag "navArrow.png" %>
			</div>
			<ul class="sub">
				<li><%= link_to "All Products", products_path %></li>
				<li><%= link_to "HIT Solar Technology", product_path(:id => 1) %></li>
				<li><%= link_to "CTP Thermal Head", product_path(:id => 2) %></li>
				<li><%= link_to "HIT Plater 2230", product_path(:id => 3) %></li>
				<li><%= link_to "HIT Plater 2332", product_path(:id => 4)%></li>
				<li><%= link_to "Optical Laser System Repair", product_path(:id => 5)%></li>
				<li><%= link_to "Surface Inspector SI-1000", product_path(:id => 6)%></li>
			</ul>
		</li>
		<li class="navItem" id='contact_btn' >
			<%= link_to "CONTACT", contacts_path %>
		</li>
	</ul>
</nav>
</header>